<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h2>LETTER OF RECOMMENDATION</h2>
        <p>To Whom It May Concern,</p>
        <p>
            It is my pleasure to recommend <%= studentName %> for further academic or professional pursuits.
                During the <%= courseName %> program at our university, <%= studentName %> has consistently demonstrated
                exceptional dedication, curiosity, and an eagerness to learn.
        </p>
        <p>
            Throughout the duration of the course, <%= studentName %> showcased a deep understanding of the subject matter,
            strong analytical ability, and the capability to apply theoretical knowledge to practical problems.
            <%= studentName %> has also displayed commendable teamwork, leadership, and communication skills,
            making <%= studentName %> an asset to any academic or professional setting.
        </p>
        <p>
            Based on my observation and evaluation, I am confident that <%= studentName %> will continue to excel
            in
            <% if (gender === 'Male') {%>
                <%= "his" %>
            <% } else if (gender === 'Female') { %>
                <%= "her" %>
            <% } else if (gender === 'Other') { %>
                <%= "their" %>
            <% } %>    
            future endeavors and make valuable contributions wherever
                     <% if (gender === 'Male') {%>
                <%= "he" %>
            <% } else if (gender === 'Female') { %>
                <%= "she" %>
            <% } else if (gender === 'Other') { %>
                <%= "they" %>
            <% } %> 
            
            
             goes.
        </p>

        <div class="signature">
            <p>Sincerely,</p>
            <p> <%= approverName %><br>
                <%= approverDesignation %><br>
                <%= universityName %><br>
                Date: <%= approvalDate %></p>
        </div>

        <div class="verification">
            <p>Verification:</p>
            <p>Student Wallet: <%= studentWalletAddress %><br>
                Approver Wallet: <%= approverWalletAddress %></p>
            <p>(This LOR is recorded and verifiable on the blockchain.)</p>
        </div>
    </body>

</html>